/* General Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 400px;
    background: #ffffff86;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background: #ffffffb2;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.852);
    width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"],input[type="email"], select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #aee0d9;
    border-radius: 8px;
    background-color: #ffffffc9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #2980b9;
    border: 1px solid #2980b9;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: #ffffff;
    background-color: #2980b9;
}
