body {
   font-family:Arial, Helvetica, sans-serif;
   width: 100%;
   margin: 0 0 100px 0;
   padding: 0;
}
header {
    background-color: #ffffff;
    color: #353131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}
div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div a{
    color:blue;
    text-decoration:none; 
}
.logo {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.logo a img{
    width: 50px;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2px;
}




footer {
    background-color: #cecbcb4b;
    color: #747474;
    text-align: center;
    padding: 2px;
    position:fixed;
    bottom:0;
    width:100%;
}



@media only screen and (max-width:900px){
    header{
        background-color: #ffffff;
        color: #353131;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 20px;
    }

    header div a{
        color:blue;
        text-decoration:none; 
    }

    header .logo {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    header .logo a img{
        width: 50px;
        border-radius: 5px;
    }

    .logo a{
        margin-right: 30px;
    }

    .logo span{
        text-align:center;
        color: #ffffff;
    }


    header nav ul {
        list-style: none;
        display: flex;
        gap: 2px;
    }


    header nav ul li details summary:hover {
        background:#86c4cf;

    }


    footer {
        background-color: #b95a5a;
        color: #fff;
        text-align: center;
        position:relative;
        width: 100%;
    } 
}