body{
}

.container {
    display: flex;
    justify-content:flex-start;
    margin: 1px;
    height:600px;

}

.main-content {
    flex: 1;
    padding: 10px;
    background-color: #ffffffba;
    border-radius: 5px;
}

.sidebar {
    height: 100%;
    width: 250px;
    justify-content:center;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.sidebar div{
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {  
    margin-bottom: 10px;
}

.sidebar ul li a, .sidebar ul li button, .quick-actions button{
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 4px;
    text-decoration: none;
    background-color: #596e74;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.sidebar ul li a:hover, .sidebar ul li button:hover, .quick-actions button:hover{
    background-color: #c2c2c2;
    color: black;
}

.dashboard{
    flex: 2;
    width: 100%;
    padding-left: 3rem;
    margin-bottom: 100px;
}
.arrival{
    padding-left: 2rem;
}

.quick-actions {
    margin-top: 20px;
    margin-bottom: 100px;
}